*{
font-family: "Fredoka", sans-serif;
}
header,.btn{
    background-color: #8C52FF;
    color: white;
}
nav,.btn:hover{
    background-color:#9f72f8;
}
a:hover,.card{
    background-color:  #c4b0ec;
}
img{
    width:80%;
    height:auto;
    border-radius:2em;
}

